.hello {
   font-size: 20px;
}
/* .box {
    border: 1px solid #dfdfdf;
    background-color: #fff;
  }

  .pp {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 900px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  } */