:root{
  --size: 100px;
  --tile: #020805;
  --correct: #15eb2a;
}
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
html,body {
  
  margin: 0;
  padding: 0;
   /* background: url("https://images2.alphacoders.com/185/185222.jpg");
   background: url("https://images.unsplash.com/photo-1526566661780-1a67ea3c863e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cHV6emxlfGVufDB8fDB8fA%3D%3D&w=1000&q=80");
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat; */
}
.App {

  justify-content: center;
  height: 100vh;
  align-items: center;
  
}
.App * {font-family: 'Boogaloo', cursive;}